<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dispense</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    {% include "headers/isLoggedinHeader.html" %}
    <br />
    Merchant: {{merchantName}}
    <div id="stores">    </div>
    <br/>
    Store Vending Machines:
    <div id="vending_machines"></div>
    <br />
    <script>
        function makeStoresTable() {
            try {
                // JSON of store info from DB for this merchant
                const merchantName = '{{merchantName}}'
                const stores = JSON.parse('{{ stores | tojson }}')
                // // The column names from the table 'stores'
                const store_keys = {
                    storeId: 0,
                    merchantId: 1,
                    name: 2,
                    street: 3,
                    city: 4,
                    state: 5,
                    zip: 6,
                    url: 7,
                    img: 8,
                    phone: 9,
                    lat: 10,
                    long: 11
                }
                let t = "<table border='1'>"
                t += "<tr><th>store</th><th>merchantId</th><th>merchant</th><th>name</th></tr>"
                stores.forEach((store, i) => {
                    t += "<tr>"
                    t += "<td>" + store[store_keys["storeId"]] + "</td>"
                    t += "<td>" + store[store_keys["merchantId"]] + "</td>"
                    t += "<td>" + merchantName + "</td>"
                    t += "<td>" + store[store_keys["name"]] + "</td>"
                    t += "</tr>"
                })
                t += "</table>"
                document.getElementById("stores").innerHTML = t
            } catch (boom) {
                alert(boom)
            }
        }



        function makeVeningMachineTable() {
            try { 
            const vending_machines = JSON.parse('{{ vending_machines | tojson }}')

                // // The column names from the table 'stores'
                const vending_machine_keys = {
                    id: 0,
                    merchantId: 1,
                    storeId: 2,
                    version: 3
                }
                let t = "<table border='1'>"
                t += "<tr><th>vendingId</th><th>merchantId</th><th>storeId</th><th>version</th></tr>"
                vending_machines.forEach((vending, i) => {
                    t += "<tr>"
                    t += "<td>" + vending[vending_machine_keys["vendingId"]] + "</td>"
                    t += "<td>" + vending[vending_machine_keys["merchantId"]] + "</td>"
                    t += "<td>" + vending[vending_machine_keys["storeId"]] + "</td>"
                    t += "<td>" + vending[vending_machine_keys["version"]] + "</td>"
                    t += "</tr>"
                })
                t += "</table>"
                document.getElementById("vending_machines").innerHTML = t
            } catch (boom) {
                alert(boom)
            }

        }



    </script>


    <script>
        makeStoresTable()
        makeVeningMachineTable() 
    </script>
</body>

</html>