<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dispense</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include "headers/isLoggedinHeader.html" %}
<!-- LoggedIn.html
headers/ -->
    <br/>

{{stores}}
<script>
    const stores = JSON.parse('{{ stores | tojson }}') 
    stores.forEach((store, i )=> { 
        console.log( i = "  " + store[2])
    })

</script>


<br/>
<script>
    // try { 
    // const x = "{{ stores }}"
    // const j = JSON.parse(x)
    // alert(j)
    // }catch ( boom ){ 
    //     console.log( "BOOM " + boom.message() )
    // }
</script>
</body>
</html>