<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dispense</title>
    <link rel="stylesheet" href="/static/style.css">

    <style>
        /* The Modal (background) */
    </style>

</head>

<body>
    {% include "headers/isLoggedinHeader.html" %}
    <br />
    <div id="machine">

    </div>

    <style>
        label {
            display: inline-block;
            background: #ddd;
            border: 1px outset #ccc;
            border-radius: .3em;
            padding: .3em 1em;
            margin: .5em;
        }

        label:active {
            border-style: inset;
        }
    </style>


    <!-- START HTML for MODALS -->
    <div id="vendingModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onClick="closeTheModals()">&times;</span>
            <p>VENDING</p>
        </div>

    </div>

    <div id="flowerModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onClick="closeTheModals()">&times;</span>
            <p>FLOWER</p>
        </div>

    </div>


    <div id="prerollModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onClick="closeTheModals()">&times;</span>
            <p>PREROLL</p>
        </div>

    </div>


    <!-- END HTML for MODALS -->
    <script>
        const username = "{{username}}"
        const merchant = "{{merchant}}"
    </script>
    <button onClick="showModal('vendingModal')">Add vending machine</button>
    <div id="machines">
    </div>




    <hr>
    <button onClick="showModal('flowerModal')">Add flower</button>

    <div id="flowers" </div>
    </div>
    <hr />
    <button onClick="showModal('prerollModal')">Add preroll</button>

    <div id="prerolls" </div>
    </div>
    <hr />



    <script>
        const numbers = ["vendingId", "merchantId", "storeId", "weight_in_grams", "thc_percent", "cbd_percent", "price", "count", "number_of_joints"]
        function createTable(rows, columns, htmlId) {
            let v = "<table border='1'>"
            v += "<tr>"
            columns.forEach((colname) => {
                v += "<th>" + colname + "</th>"
            })
            v += "<th>Zap</th>"
            v += "</tr>"

            rows.forEach((row) => {
                v += "<tr>"
                row.forEach((x, i) => {
                    if (numbers.includes(columns[i])) {
                        v += "<td class='num'>" + x + "</td>"
                    } else {
                        v += "<td>" + x + "</td>"
                    }
                })
                v += "<td><button>Delete</button></td>"

                v += "</tr>"
            })


            v += "</table>"
            document.getElementById(htmlId).innerHTML = v


        }


        // const flower_table = "strain", "type", "farm", "weight_in_grams", "thc_percent", "cbd_percent","harvest", "description", "price", "count", "product"

        function populatePage() {

            const myHeaders = { "Content-Type": "application/json" }
            const raw = JSON.stringify({ "merchantId": merchant });
            const requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            fetch("http://localhost:8080/get_inventory_by_merchant", requestOptions)
                .then(response => response.json())
                .then(data => {
                    createTable(data["vending_machines"], data["vending_machines_columns"], "machines")
                    createTable(data["flowers"], data["flowers_columns"], "flowers")
                    createTable(data["prerolls"], data["prerolls_columns"], "prerolls")


                })
                .catch(error => {
                    console.log("%c This was an error because: " + error.message, "background:lightred;")
                })
        }
        populatePage()


        // const modal = document.getElementById("myModal");
        //const span = document.getElementsByClassName("close")[0];




        function showModal(type_of_thing_to_add) {



            if (type_of_thing_to_add === "flowerModal") {
                document.getElementById("flowerModal").style.display = "block"
            } else if (type_of_thing_to_add === "prerollModal") {
                document.getElementById("prerollModal").style.display = "block"

            } else if (type_of_thing_to_add === "vendingModal") {
                document.getElementById("vendingModal").style.display = "block"

            } else {
                console.log("%c This was an error because " + type_of_thing_to_add + " is not a possible modal.", "background:lightred;")

            }

            modal.style.display = "block";
        }
        function closeTheModals() {

            document.getElementById("flowerModal").style.display = "none"
            document.getElementById("prerollModal").style.display = "none"
            document.getElementById("vendingModal").style.display = "none"
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {

            const id = event.target.id
            if (id !== undefined) {
                if (id === "flowerModal" || id === "prerollModal" || id === "vendingModal") {
                    closeTheModals()
                }
            }
        }

    </script>

</body>

</html>