<html>

<head>
    <link rel="icon" href="data:;base64,=">

    <title>EdgeKV</title>
    <style>
        .msg {
            background-color: #606060;
            color: white;
            width: 150px;
        }

        input {
            text-align: right;
            width: 100%;
        }

        textarea {
            width: 100%;
            height: 90%;
        }
    </style>
    <script>
        const headers = {
            "Content-Type": "application/json"
        }

        function getThings(id) {
            const things = {
                "name": document.getElementById("name").value,
                "edgeworkerId": document.getElementById("edgeworkerId").value,
                "groupId": document.getElementById("groupId").value,
                "namespaceId": document.getElementById("namespace").value,
                "geoLocation": document.getElementById("geoLocation").value,
                "retentionInSeconds": document.getElementById("retentionInSeconds").value,
                "network": document.getElementById("network").value,
                "action": id
            }
            return things;
        }
        function getRequestOptions(things) {
            const raw = JSON.stringify({ things });
            const requestOptions = {
                method: 'POST',
                headers: headers,
                body: raw,
                redirect: 'follow'
            };
            return requestOptions
        }


        /*

*/
        function btn_click(obj) {
            try {
                let things = getThings(obj.id)
                let endPoint = undefined
                let toAkamai = document.getElementById("toAkamai").value
                if (obj.id === "read-an-item") {
                    if (toAkamai === undefined || !toAkamai.length > 0 || typeof toAkamai !== "string") {
                        // alert("Need a string like SLKSDJD to read")
                        toAkamai = "LW5BLIS"
                        document.getElementById("toAkamai").value = toAkamai
                    }
                    endPoint = "read"
                    things["itemId"] = toAkamai

                }

                if (obj.id === "write-product") {
                    if (toAkamai === undefined || !toAkamai.length > 0 || typeof toAkamai !== "object") {
                        // alert("Need a string like SLKSDJD to read")
                        toAkamai = {
                            "title": 'Unlimit High-Rise Tight 25" *Online Only',
                            "designedFor": "Yoga",
                            "desc": "Feel limitless. Powered by our Nulu™ fabric, these buttery-soft tights will have you bending and stretching with ease.",
                            "vector": [],
                            "id":"LW5BLIS"
                        }
                        document.getElementById("toAkamai").value = JSON.stringify(toAkamai, null, 2)
                    }
                    endPoint = "write"
                    const before = document.getElementById("toAkamai").value
                    const after = JSON.parse(before)
                    things["product"] = after
                }

                const requestOptions = getRequestOptions(things)
                if (endPoint !== undefined) {
                    document.getElementById("notes").innerHTML = obj.id
                    const url = "http://localhost:4040/" + endPoint
                    fetch(url, requestOptions)
                        .then(response => response.text())
                        .then((result) => {
                            const j = JSON.parse(result)
                            const x = JSON.stringify(j, null, 4)
                            document.getElementById("fromAkamai").value = x

                        })
                        .catch(error => console.log('error', error));
                } else {
                    document.getElementById("notes").innerHTML = obj.id + " FAIL"
                }
            } catch (boom) {
                // alert(boom.message)
                console.log("%c" + boom, "background-color:tan;")
            }
        }


    </script>
</head>

<body>
    <div class="content">
        <table border="0">
            <tr>
                <td valign="top">
                    <table border="1">
                        <tr>
                            <td>
                                <input id="name" type="text" value="stagePEPSew">
                            </td>
                            <td class="msg">name</td>
                        </tr>
                        <tr>
                            <td>
                                <input id="edgeworkerId" type="text" value="59395">
                            </td>
                            <td class="msg">edgeworkerId</td>
                        </tr>
                        <tr>
                            <td>
                                <input id="groupId" type="text" value="121565">
                            </td>
                            <td class="msg">groupId</td>
                        </tr>
                        <tr>
                            <td>
                                <input id="namespace" type="text" value="peps-stage-namespace">
                            </td>
                            <td class="msg">namespace</td>
                        </tr>
                        <tr>
                            <td>
                                <input id="geoLocation" type="text" value="US">
                            </td>
                            <td class="msg">geoLocation</td>
                        </tr>
                        <tr>
                            <td>
                                <input id="retentionInSeconds" type="text" value="0">
                            </td>
                            <td class="msg">retentionInSeconds</td>
                        </tr>
                        <tr>
                            <td>
                                <input id="network" type="text" value="staging">
                            </td>
                            <td class="msg">network</td>
                        </tr>
                    </table>
                    <br />
                    <a
                        href="https://techdocs.akamai.com/edgekv/recipes/">https://techdocs.akamai.com/edgekv/recipes/</a>
                    <p />
                    <div id="milsec"></div>
                </td>
                <td>&nbsp;</td>
                <td valign="top">
                    <table border="1">
                        <tr>
                            <td>
                                <button class="btn" id="create-a-namespace"
                                    onClick="btn_click(this);">create-a-namespace</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn" id="delete-an-item"
                                    onClick="btn_click(this);">delete-an-item</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn" id="get-namespace-details"
                                    onClick="btn_click(this);">get-namespace-details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn" id="get-the-edgekv-initialization-status"
                                    onClick="btn_click(this);">get-the-edgekv-initialization-status</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn" id="list-items-within-a-group"
                                    onClick="btn_click(this);">list-items-within-a-group</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn" id="list-namespaces"
                                    onClick="btn_click(this);">list-namespaces</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn" id="read-an-item" onClick="btn_click(this);">read-an-item</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn" id="write-product" onClick="btn_click(this);">write-product</button>
                            </td>
                        </tr>
                    </table>
                <td valign="top">
                    <table border="1">
                        <tr>
                            <td>
                                <button class="todobtn" disabled>list-access-tokens</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="todobtn" disabled>create-access-tokens</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="todobtn" disabled>download-access-token</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="todobtn" disabled>revoke-access-token</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="todobtn" disabled>update-namespace-details</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="todobtn" disabled>list-permission-groups</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="todobtn" disabled>get-permission-group</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="todobtn" disabled>reauthorize-a-namespace</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="todobtn" disabled>list-groups-within-a-namespace</button>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>&nbsp;</td>
                <td valign='top'>
                    <div id="notes"> Notes... </div>
                </td>
            </tr>
        </table>
        <hr />
        <table width="100%" height="60%" border="0">
            <tr>
                <td> FROM: <br />
                    <textarea id="toAkamai"></textarea>
                </td>
                <td> TO: <br />
                    <textarea id="fromAkamai"></textarea>
                </td>
            </tr>
        </table>
</body>

</html>