<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dispense</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    {% include "headers/isLoggedinHeader.html" %}
    <br />
    <div id="machine">

    </div>

<style>
    label {
    display: inline-block;
    background: #ddd;
    border: 1px outset #ccc;
    border-radius: .3em;
    padding: .3em 1em;
    margin: .5em;
}

label:active {
  border-style: inset;
}
</style>
    <label>
    
    </label>
    VENDING

    <script>

        function populate_machine() { 
            const rows = ["A", "B", "C", "D", "E"] // down
            const cols = ["1", "2", "3", "4", "5"] // across
            



        }

        populate_machine() 
    </script>
</body>

</html>